<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="icon" href="{{ url_for('static', filename='images/ICO.jfif') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/helloflask4.css') }}" type="text/css">
</head>
<body>
<h2>
    <img alt="Avatar" src="{{ url_for('static', filename='images/ICO.jfif') }}">
    {{ name }}'s Watchlist
</h2>
<img alt="helloflask4" src="{{ url_for('static', filename='images/74876911_p0.jpg') }}">
</body>
</html>